<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arduino.dao.ArduinoDataDAO">

    <select id="selectByAddTime" resultMap="dataResultMap">
        select * from data order by add_time desc limit 7
    </select>

    <resultMap id="dataResultMap" type="ArduinoData">
        <result column="id" property="id"/>
        <result column="temparture" property="temparture"/>
        <result column="add_time" property="addTime"/>
    </resultMap>
</mapper>